* {
    line-height:1.6;
}


.mainheader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("bg-01.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    height: 40vh;
    background-size: cover;
    color : white;
    font-family: 'Blinker', sans-serif, cursive;
    font-size: 1.5rem;
}

.mainAboutContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.aboutContainer {
    display: flex;
    flex-direction: row;
    width: 95%;
    padding: 100px 0 100px 0;
}


.mainAboutContainer img {
    transform: translate(20px, -20px);
    width: 100%;
    height: auto;
}
.informations {
    flex:4;
}
.image {
    flex:3;
}
.mainheaderContact p {
    font-size: 1.1rem;
    font-family: 'Blinker', sans-serif;
    color: rgb(122, 121, 121);
}
.imgBorder {
    z-index: -1;
    float: right;
    border : rgb(211, 210, 210) 4px solid;
}

.imgBorder2 {
    z-index: -1;
    position: relative;
    border : rgb(211, 210, 210) 4px solid;
}

.borderleft {
    border-left: rgb(211, 210, 210) 2px solid;
    padding: 0 20px 0 20px;
}

@media screen and (max-width: 800px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .informations {
        padding: 0;
    }
}