

/*sction2*/
#ss {
  margin: 13vh 0;
  display: flex;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
}


#ss h1 {
position: absolute;
font-family: 'Abril Fatface', cursive;
font-family: 'Exo 2', sans-serif;
left: 10%;
top: 10%;
}
#ss p {
  left: 10%;
  top: 30%;
  font-family: 'Blinker', sans-serif;
  position: absolute;
}
#ss h4 {
  font-family: 'Blinker', sans-serif;
  position: absolute;
  left: 10%;
  top: 65%;
  transition: 0.5s ;
  transition-delay: 0.2s;
  opacity: 0;
  transform: scaleX(0.9);
}
#ss a {
  text-decoration: none;
  color: black;
}

#ss .line {
  visibility: hidden;
  position: absolute;
  left: 10%;
  top: 80%;
  width: 75px;
  height: 2px;
  background: black;
  transition: 0.3s ;
  transform: scaleX(0)
}

/*shop now animation--------------------------------*/
#ss a:hover .line {
  transform: scaleX(1);
  visibility: visible;
}
#ss a:hover h4 {
  transform: scaleX(1);
  opacity: 1;
  top: 60%;
  letter-spacing: inherit;
  opacity: 1;
}

#ss a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 760px) {
  #ss h1 {
    top: 0%;
    left: 5%;
    }
    #ss p {
      left: 5%;
      top: 10%;
    }
    #ss .line {
      top: 74%;
  
    }
}
