

/*image gallary*-------*/
.grid-img {
    
    margin: 10vh ;
  }
  .imgg {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .img img:first-of-type  {
    width: 250px;
    height: 320px
  }
  .img {
    color: #8A8989;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .img a {
    color: #8A8989;
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem;
    margin: 15px 0 0 0;
    width: max-content;
    height: max-content;
  }
  .img span {
    float: right;
  }
  .heartlk {
    padding: 15px 0 0 0;
  }
  .img p {
    color: #8A8989;
    font-family: 'Blinker', sans-serif;
    margin-top: 0.5rem;
  }
  
  /*bottun hover effect*/
  .imgbtn .butn {
    opacity: 0;
    position: relative;
    /* transform: translate(-20vh,50vh) ; */
    top : 0px;
    right : -55px;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
     -ms-transition:all 0.5s ease;
      -o-transition:all 0.5s ease;
         transition:all 0.5s ease;
    background-color: white;
  }
  .imgbtn:hover .butn {
    opacity: 1;
    top : -90px ;
  }
  .imgg .butn:hover {
    background-color: #343232;
    color : white;
  }
  
  /*image focuse on hover*/
  .imgbtn {
    width: 250px;
    height: 320px;
    overflow: hidden;
  }
  .imgbtn img {
    transition: 1s;
  }
  .imgbtn:hover img {
    transform: scale(1.1);
  }
  /*buttn*/
  .btn {
    display: flex;
    justify-content: center;
    margin: 10vh 0 20vh 0;
  }
  .btnfxd {
    font-size: 1rem;
    color: black;
    background-color: #E0E0E1;
    display: inline ;
    transition: 0.3s;
  }
  .btnfxd:hover {
    color: white;
    background-color: #343232;
  }
  
  
  