.mainGridImage {
  display: flex;
  justify-content: center;

}
.grid-img {
  width: 90%;
  margin: 10vh 0;
}
.imgg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;


}


/*buttn*/
.buttonContainer {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 10vh 0 20vh 0;
}
.insideButton {
  width: 25%;
  display: flex;
  justify-content: space-between;
}



.ReactModal__Overlay {
  opacity: 0;

  transition: all 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
