.productMin {
    display: flex;

    justify-content: space-between;
}


.productMinDetails {
padding-left: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
} 

.productMinDetails h4 {
 margin: 0;
 padding: 0;
}

.productMinSection  {
    width: 70%;
    margin-bottom: 20px;
}

