aside {
    z-index: 10;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    
}

.listWishItems {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60vh;
    right: -260px;
    
}

.listWishItemsSlide {
    right: 0;
}

.listWishItems img {
    width: 25%;
    height: auto;
}

.wishItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wishListPay {
   width: 70%;
}