.mainheaderContact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("Contact.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    height: 40vh;
    background-size: cover;
    color : white;
    font-family: 'Blinker', sans-serif, cursive;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.mainContact, .sendMessageContainer, .sendMessage,.contact-form,
 .informationsContainer, .informationscontact, .contactContainer {
    display: flex;
}
.contactContainer {
    margin : 100px 0;
    width: 100%;
    justify-content: center;
}
.mainContact {
    flex-direction: row;
    width: 90%;
}
.sendMessageContainer, .informationsContainer {
    border: rgb(182, 182, 184) 1px solid;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 15vh;
}
.sendMessage, .informationsContact {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sendMessage {
    width: 80%;
}
.sendMessageContainer{
   border-right-style: none;
}
.informationsContact > div  {
    display: flex;
    flex-direction: row;
}
.informationsContact span {
    padding: 22px 20px 0 0;
}

.contact-form {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
} 
.mainContact input, .mainContact textarea {
    width: 90%;
    margin-bottom: 20px;
}

.mainContactform {
    margin-top: 4vh;
}

.informationsContact p {
    width: 40vh;
}

@media screen and (max-width:940px) {
    .sendMessage {
        width: 100%;
    }
    .mainContact {
        width: 95%;
    }
}

@media screen and (max-width:780px) {
    .sendMessage {
        width: 100%;
    }
    .mainContact {
        flex-direction: column;
    }
    .sendMessageContainer{
        border-right-style:solid;
        margin: 50px 0
     }
}