html, 
body {
 
    overflow-x: hidden; 
}
.ancre {
    margin: 2vh 0 0  17vh;
}

.featuresSection, .optionsItem, 
.inputs {
    display: flex;
}

.inputs {
 flex-direction: column;

}

.optionsItemDetails {
     
    padding: 0 5vh 0 5vh;
}

.optionsItem {
    border-top: rgb(158, 158, 158) 1px solid;
    border-bottom: rgb(158, 158, 158) 1px solid;
    flex-direction: row;
}


.featuresSection { 
      
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10vh 0 17vh 0;
}


.mainOptionCart {
    border: rgb(158, 158, 158) 1px solid;
    width: 60vh;
    padding-left: 6vh;
    padding-right: 6vh;
}





.inputs input, .inputs select {
    margin: 0 0 15px 0;
    height: 35px;
    padding: 0;
}


.mainOptionCart span {
    padding-left: 25px;
    
}

@media screen and (max-width:1050px) {
 
    .featuresSection {
   align-items: center;
        flex-direction: column;
    }
 
    .mainOptionCart {
        margin-top: 40px;
    }
    .mainOptionCart {
        width: 98.5vh;
    }

}
@media screen and (max-width:700px) {

    .featuresSection {
   justify-content: center;
   align-items: center;
        flex-direction: column;
    }

    .mainOptionCart {
        width: 60vh;
    }
}