.ancre {
    margin: 2vh 0 0  17vh;
}

.featuresSection, .mainPrice, .itemCart, .optionsItem, 
.inputs, .mainItemCart, .productName {
    display: flex;
}

.inputs {
 flex-direction: column;

}

.optionsItemDetails {
     
    padding: 0 5vh 0 5vh;
}

.optionsItem {
    border-top: rgb(158, 158, 158) 1px solid;
    border-bottom: rgb(158, 158, 158) 1px solid;
    flex-direction: row;
}


.featuresSection {    
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10vh 0 17vh 0;
    padding: 0 17vh;
}
.mainItemCart {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: max-content;
    height: max-content;
}

.mainOptionCart {
    border: rgb(158, 158, 158) 1px solid;
    width: 50vh;
    padding-left: 6vh;
    padding-right: 6vh;
}

.mainPrice, .itemCart {
    border: rgb(158, 158, 158) 1px solid;
    width: 45vh;
    padding-right: 5vh;
    padding-left: 5vh;
    justify-content: space-between;
}
/* .secondePart .mainPrice,.secondePart .itemCart {border-left: none;}
.firstPart .mainPrice,.firstPart .itemCart {border-right: none ;} */

.itemCart {
    height: 30vh;
    border-top: none;
    justify-content : space-between;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-top-style: none;
}

.quantity span  {
    border: rgb(158, 158, 158) 1px solid;
    padding: 10px 20px 10px 20px;
    margin: 1px;
}


.productName h4 {
    margin: 26px 0 0 20px;
}

/* .productName + span  {
    transform: translateX(-20px);
} */

.inputs input, .inputs select {
    margin: 0 0 15px 0;
    height: 35px;
    padding: 0;
}
.optionsItemDetails button {
    margin: 10px 0 30px 0;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
}
button:nth-child(2) {
    margin: 10px 0 30px 0;
    border-radius: 25px;
    width: 50vh;
    height: 8vh;
    color: white;
    background-color: rgb(12, 12, 12);
    border-style: none;
    font-size: 15px;
}

.mainOptionCart span {
    padding-left: 25px;
    
}
@media screen and (min-width:700px) {
    .secondePart .mainPrice,.secondePart .itemCart {border-left: none;}
    .firstPart .mainPrice,.firstPart .itemCart {border-right: none ;
    }
}
@media screen and (max-width:1120px) {
    .featuresSection {
   align-items: center;
        flex-direction: column;
    }
    .mainOptionCart {
        margin-top: 40px;
    }
    .mainOptionCart {
        width: 98.5vh;
    }

}
@media screen and (max-width:700px) {
    .featuresSection {
   justify-content: center;
   align-items: center;
        flex-direction: column;
    }
    .mainItemCart {
        flex-wrap: wrap;
     flex-direction: column;
    }
    .mainOptionCart {
        width: 60vh;
    }
}