html, 
body {
 
    overflow-x: hidden; 
}
.ancre {
    margin: 2vh 0 0  17vh;
}

.featuresSection, .mainPrice, .itemCart, .optionsItem, 
.inputs, .mainItemCart, .productName {
    display: flex;
}

.inputs {
 flex-direction: column;

}

.optionsItemDetails {
     
    padding: 0 5vh 0 5vh;
}

.optionsItem {
    border-top: rgb(158, 158, 158) 1px solid;
    border-bottom: rgb(158, 158, 158) 1px solid;
    flex-direction: row;
}


.featuresSection { 
      
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10vh 0 17vh 0;
}
.mainItemCart {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: max-content;
    height: max-content;
}

.mainOptionCart {
    border: rgb(158, 158, 158) 1px solid;
    width: 60vh;
    padding-left: 6vh;
    padding-right: 6vh;
}

.mainPrice, .itemCart {
    border: rgb(158, 158, 158) 1px solid;
    width: 45vh;
    padding-right: 5vh;
    padding-left: 5vh;
    justify-content: space-between;
}


.itemCart {
    height: 0;
    border-top: none;
    justify-content : space-between;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-top-style: none;
}

.quantity span  {
   
    border: rgb(158, 158, 158) 1px solid;
    padding: 10px 20px 10px 20px;
    margin: 1px;
}
.quantity span:first-of-type,.quantity span:last-of-type  {
    cursor: pointer;
}
.quantity span:first-of-type:active,.quantity span:last-of-type:active {
    background-color: #7391f4;
    color: #e0e7fd;
  }


.productName h4 {
    margin: 26px 0 0 20px;
}



.inputs input, .inputs select {
    margin: 0 0 15px 0;
    height: 35px;
    padding: 0;
}


.mainOptionCart span {
    padding-left: 25px;
    
}
@media screen and (min-width:700px) {
    .secondePart .mainPrice,.secondePart .itemCart {border-left: none;}
    .firstPart .mainPrice,.firstPart .itemCart {border-right: none ;
    }
}
@media screen and (max-width:1050px) {
 
    .featuresSection {
   align-items: center;
        flex-direction: column;
    }
 
    .mainOptionCart {
        margin-top: 40px;
    }
    .mainOptionCart {
        width: 98.5vh;
    }

}
@media screen and (max-width:700px) {
    .mainPrice, .itemCart {
       
        width: 62vh;
      
    }
    .featuresSection {
   justify-content: center;
   align-items: center;
        flex-direction: column;
    }
    .mainItemCart {
        flex-wrap: wrap;
     flex-direction: column;
    }
    .mainOptionCart {
        width: 60vh;
    }
}