

.ltl-nv {
  color: #949090 ;
  font-family: 'Blinker', sans-serif;
  font-size: 13.5px;
  background-color: #2F2D2D;
  grid-area: ltlNav;
  display: flex;
  justify-content: center; 
  width: 100%;
 
}
.navContainer {
 
  display: flex;
  justify-content: space-between;
  width: 88%;
}


.rght a {
  border-left: #949090 2px solid;
  padding: 14px 20px;
  text-decoration: none;
  color: #949090 ;
}
.rght a:last-child {
  border-right:  #949090 2px solid;
}
.rght {
  /* margin: auto 0; */
  display: flex;
  align-items: center;
}
.bg-nv {
  z-index: 6;
  top: 0;
  display: grid;
  grid-template-columns: 0.269fr auto 0.45fr;
  grid-template-rows: auto 13vh ;
  grid-template-areas:
  "ltlNav ltlNav ltlNav"
   "logo menu icons";
}
.logo {
  grid-area : logo;
  align-self: center;
  text-align: center;
  padding-left: 10vh;
}
.menu {
  display: flex;
  grid-area: menu;
  flex-direction: row;
  align-self: center;
  font-family: 'Blinker', sans-serif;
}
.mn-icns {
  grid-area : icons;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  transition: color 0.4s;
}
.menu a{
  margin-left : 30px;
  color: #3B3737;
  font-weight: 600;
}
.menu li, .menu a {
  list-style: none;
  text-decoration: none;

}
.mn-icns i {
  margin-left : 30px;
  color: #3B3737;
  transition: color 0.4s;
}

.menu li:hover, .mn-icns i:hover, .rght a:hover {
  color: #8E3DF7;
}



 @media screen and (max-width: 915px) {
  
  .navContainer {
    flex-direction: column;
    width: 100%;
  }
 
  .paraNav, .rght{
    padding-left: 30px ;
  }
  .paraNav {
    border-bottom: #949090 2px solid;
    
  }
  .bg-nv {
    grid-template-columns: 1fr;
    grid-template-rows: 13vh auto ;
    grid-template-areas:
     "logo  icons"
     "ltlNav ltlNav"
     "menu menu"
     ;
  }

  .logo {
    display: flex;
    padding-left: 4.5vh;
    margin: 0;
  }
  .menu {
    flex-direction: column;
    margin: 0;
    padding: 20px  0;
    background-color: #a29bfe;
    width: 100%;
  }
  .menu a li {
    font-weight: normal;
    color: #ECEBEB;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .menu a {
    width : max-content;
  }
  
  

} 
