

.ltl-nv {
  color: #949090 ;
  font-family: 'Blinker', sans-serif;
  font-size: 13.5px;
  background-color: #2F2D2D;
  grid-area: ltlNav;
  display: flex;
  justify-content: center; 
  width: 100%;
  margin-bottom: 80px;
  z-index: 10;

}
.navContainer {
 
  display: flex;
  justify-content: space-between;
  width: 88%;
  
}


.rght a {
  border-left: #949090 2px solid;
  padding: 14px 20px;
  text-decoration: none;
  color: #949090 ;
}
.rght a:last-child {
  border-right:  #949090 2px solid;
}
.rght {

  display: flex;
  align-items: center;
}
.bg-nv {
 width : 100%;
  z-index: 10;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto ;
  grid-template-areas:
  "ltlNav"
   "seconde";
}
.logo {
  top: 0;
  grid-area : logo;
  align-self: center;
  text-align: center;
  padding-left: 10vh;
}
.menu {
  display: flex;
  grid-area: menu;
  flex-direction: row;
  align-self: center;
  font-family: 'Blinker', sans-serif;
  padding-right: 400px;
}
.mn-icns {
  grid-area : icons;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  transition: color 0.4s;
  padding-right: 60px;

}
.menu a{
  margin-left : 30px;
  color: #3B3737;
  font-weight: 600;
}
.menu li, .menu a {
  list-style: none;
  text-decoration: none;

}
.mn-icns i {
  margin-left : 30px;
  color: #3B3737;
  transition: color 0.4s;
}

.menu li:hover, .mn-icns i:hover, .rght a:hover {
  color: #8E3DF7;
}
.secondNav {
  z-index: 10;

  width: 100%;
 position : fixed ;
  grid-area: seconde;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding :  10px 0 ;
  transition: background-color 0.3s 0s, padding 0.2s 0.1s;
}

.galeryModal {
  background:rgba(255,255,255, 0.7);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.galeryOverlay {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  transition: all 300ms ease-in-out;

}

.searchInput {
  width: 70%;
  height: 100px;
  padding-left: 30px;
  font-size:  30px;
}
.searchInput::placeholder {
  padding-top: 20px;
  font-size: 30px;
  color: black;
}
.closeSearch {
  position: absolute;
  right: 13%;
  top:35%;
  width: 32px;
  height: 32px;

}

.closeSearch:before, .closeSearch:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.closeSearch:before {
  transform: rotate(45deg);
}
.closeSearch:after {
  transform: rotate(-45deg);
}

 @media screen and (max-width: 915px) {
  
  .navContainer {
    flex-direction: column;
    width: 100%;
  }
 
  .paraNav, .rght{
    padding-left: 30px ;
  }
  .paraNav {
    border-bottom: #949090 2px solid;
    
  }
  .bg-nv {
    grid-template-columns: 1fr;
    grid-template-rows: 13vh auto ;
    grid-template-areas:
     "logo  icons"
     "ltlNav ltlNav"
     "menu menu"
     ;
  }

  .logo {
    display: flex;
    padding-left: 4.5vh;
    margin: 0;
  }
  .menu {
    flex-direction: column;
    margin: 0;
    padding: 20px  0;
    background-color: #a29bfe;
    width: 100%;
  }
  .menu a li {
    font-weight: normal;
    color: #ECEBEB;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .menu a {
    width : max-content;
  }
  
  

} 
