


/*ltl-nav--------------------------------------------------*/
.ltl-nv {
  color: #949090 ;
  font-family: 'Blinker', sans-serif;
  font-size: 13.5px;
  background-color: #2F2D2D;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.09fr 0.85fr 0.5fr;
  grid-template-rows: 7vh;
  grid-template-areas: "h p div";
}
.ltl-nv div {
  grid-area: div;
  align-self: center;
}
.ltl-nv p {
  grid-area: p;
  display: flex;
  justify-content: left;
  align-items: center;
}
.ltl-nv a {
  border-left: #949090 2px solid;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #949090 ;
}
.ltl-nv a:last-child {
  border-right:  #949090 2px solid;
}



/*nav bar----------------------------------------------*/

.bg-nv {
  display: grid;
  grid-template-columns: 0.269fr auto 0.45fr;
  grid-template-rows: 13vh;
  grid-template-areas: "logo menu icons";
}
.logo {
  grid-area : logo;
  align-self: center;
  text-align: center;
  padding-left: 10vh;
}
.menu {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  align-self: center;
  font-family: 'Blinker', sans-serif;
}
.mn-icns {
  grid-area : icons;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.menu a{
  margin-left : 30px;
  color: #3B3737;
  font-weight: 600;
  transition: color 0.4s;
}
.menu li, .menu a {
  list-style: none;
  text-decoration: none;
}
.mn-icns a {
  margin-left : 30px;
  color: #3B3737;
  transition: color 0.4s;
}
.menu a:first-of-type {
  color: #8E3DF7;
}
.menu a:hover, .mn-icns a:hover {
  color: #8E3DF7;
}

@media screen and (max-width: 1025px) {

  /*ltl-nav--------------------------------------------------*/
  .ltl-nv {
    overflow: hidden;
    grid-template-columns: 100%;
    grid-template-rows: 6vh 6vh;
    grid-template-areas:
    "p"
    "div";
  }
  .ltl-nv div {
    grid-area: div;
    overflow: hidden;
    align-self: center;
    margin-left: 30px;
  }
  .ltl-nv p {
    padding-bottom: 20px;
    border-bottom: #949090 1px solid;
    padding-left: 30px;
    justify-content: left;
  }

  }


@media screen and (max-width: 915px) {
  /*nav bar----------------------------------------------*/

  .bg-nv {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 35vh ;
    grid-template-areas:
     "logo  icons"
     "menu menu"
     ;
  }

  .logo {
    text-align: left;
    padding-left: 4.5vh;
  }
  .menu {
    flex-direction: column;
    padding: 20px 0;
    background-color: #a29bfe;
  }
  .menu a li {
    font-weight: normal;
    color: #ECEBEB;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .menu a {
    width : max-content;
  }
  /*global css*/
  .f-s {
    height: 145vh;
  }

  /*animation sction*/


  .slide1,.slide2,.slide3 {
    top: 55vh;
  }

  /*text slide*/

  .txtsld1, .txtsld2, .txtsld3 {
    top: 90vh;
  }
}
