.mainCollapse {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collapse {
  display: flex;
  flex-direction: row;
  margin: 0 15vh 10vh 15vh;
  width: 100%;
  align-items:flex-start;
  justify-content: space-between;
}
.firstListPart,
.secondeListPart {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items:flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.collapse ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.collapse li {
  cursor: pointer;
  color: #8A8989;
  font-family: 'Blinker', sans-serif;
  margin-top: 0.5rem;
}
.collapse ul li:first-of-type {
  font-size: 1.2rem;
  color: #2f3640;
  padding-bottom: 10px;
}


/*------------------------------------------*/
@media screen and (max-width: 1100px) {
  .collapse {
    flex-direction: column;
  }
  .firstListPart,
  .secondeListPart {
    width: 100%;
  }
  ul {
    width: 188px;
  }
}
@media screen and (max-width: 760px) {
  .collapse {
    justify-content: flex-start;
    /* align-items: flex-start; */
  }
  .firstListPart,
  .secondeListPart {
    justify-content: flex-start;
    
    flex-direction: column;
  }
}
