
  .miniFooter {
    flex-direction: column;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #201B1B;
    padding:  5vh 0;
  }
  .miniFooter p {
    font-family: 'Exo 2', sans-serif;
    color: #E0E7FD;
  }
  .ppr {
    width: 200px;
    cursor: default;
  }
  .ftrforth [placeholder]{
    font-family: 'Exo 2', sans-serif;
    color: #201B1B;
  }
  .ftrforth input{
    width: 10rem;
    padding: 0.5rem 0;
    background-color: #201B1B;
    border: none;
    border-bottom: 1px #E0E7FD solid;
  }
  
  
  
  