

.ths {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
  
.prov {
  width: 87%;
display: flex;
justify-content: center;
flex-direction: column;
  }
  .prov p {
    grid-area: p;
    font-size: 2.5rem;
    font-family: 'Blinker', sans-serif, cursive;
    font-weight: bold;
  }
  .searchArea {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .filter {
  display: flex;
  width: 500px;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  .filtrSearch {
    display: flex;
    width: 170px;
    justify-content: space-between;
    }

  .filtrsrc a {
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 8px;
    color: #BAB9B9;
    font-family: 'Blinker', sans-serif;
    font-size: 1.1rem;
    padding: 10px 20px 10px 20px;
    border: 1px #D2D2D2 solid;
    transition: 0.5s;
  }
  .filtrsrc i {
    color: #9B9898;
    transition: 0.5s;
  }
  .filtrsrc span {
    margin-left: 8px;
  }
  .filtrsrc a:hover  {
    background-color: #7391F4;
    color:#E0E7FD;
  }
  .filtrsrc a:hover i {
    color:#E0E7FD;
  }
  
  /*collapse menu-----------------------------*/
  
  .mainCollapse {
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

  }
  
  .collapse {
    display: flex;
    flex-direction: row;
    margin: 0 15vh 10vh 15vh;
    background-color: #f5f6fa;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .firstListPart, .secondeListPart {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  .collapse ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .collapse li {
    cursor: pointer;
    color: #8A8989;
    font-family: 'Blinker', sans-serif;
    margin-top: 0.5rem;
  }
  #collapse ul li:first-of-type {
    font-size: 1.2rem;
    color: #2f3640;
    padding-bottom: 10px;
  }
  
  .forth li a{
    background-color: #f5f6fa;
    display: inline-block;
    font-size: 0.7rem;
    padding: 0.5rem 0.7rem;
    border: 0.5px #dfe6e9 solid;
    color: #636e72;
  }
  /*------------------------------------------*/
  @media screen and (max-width: 1100px) {
.collapse {
  flex-direction: column;
}
.firstListPart, .secondeListPart {
  
  width: 100%;
  

}
    }
    
    @media screen and (max-width:760px) {
      .collapse {
        justify-content: flex-start;
        align-items: flex-start;
      }
      .firstListPart, .secondeListPart {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        
      }
  
      }